// src/app/globals.scss (또는 사용하는 경로)

@use "tailwindcss";

@layer base {
  body {
    @apply font-sans; /* 👈 이 부분을 추가하거나 확인해주세요. */
  }
}

a {
  color: inherit;
  text-decoration: none;
}

/* 모바일 대응을 위한 스크롤바 스타일 수정 */
@media (max-width: 767px) {
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

/* 반응형 폰트 사이즈 */
html {
  font-size: 16px;

  @media (max-width: 767px) {
    font-size: 14px;
  }
}
